openapi: 3.0.0
info:
  title: Trello Clone API
  description: Backend for a simple Trello clone application
  version: 1.0.0

servers:
  - url: https://bee-srv.me
    description: Production Server
  - url: http://localhost:3000
    description: Local Development Server

tags:
  - name: Authentication
    description: User authentication endpoints
  - name: Users
    description: User management endpoints
  - name: Boards
    description: Board management endpoints
  - name: Lists
    description: List management endpoints
  - name: Cards
    description: Card management endpoints
  - name: Comments
    description: Comment management endpoints

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from login endpoint
  schemas:
    Board:
      type: object
      required:
        - name
      properties:
        id:
          type: string
        name:
          type: string
        userId:
          type: string
        createdAt:
          type: string
          format: date-time
        isArchived:
          type: boolean
          default: false
        background:
          type: string
          description: URL or color code for board background
        isTemplate:
          type: boolean
          default: false
        isFavorite:
          type: boolean
          default: false
        members:
          type: array
          items:
            type: object
            properties:
              userId:
                type: string
              role:
                type: string
                enum: [owner, admin, member]
    List:
      type: object
      required:
        - title
        - boardId
      properties:
        id:
          type: string
        boardId:
          type: string
        userId:
          type: string
        title:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Card:
      type: object
      required:
        - title
        - listId
      properties:
        id:
          type: string
        listId:
          type: string
        userId:
          type: string
        title:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        dueDate:
          type: string
          format: date-time
        labels:
          type: array
          items:
            type: string
        checklist:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              title:
                type: string
              items:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    text:
                      type: string
                    completed:
                      type: boolean
        comments:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              userId:
                type: string
              text:
                type: string
              createdAt:
                type: string
                format: date-time
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
        message:
          type: string
          description: Detailed error message
    InternalServerError:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          enum: [Internal Server Error]
        message:
          type: string
          description: Detailed error message about what went wrong on the server
    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
        password:
          type: string
          format: password
    LoginResponse:
      type: object
      required:
        - token
      properties:
        token:
          type: string
          description: JWT token for authentication
    User:
      type: object
      required:
        - username
      properties:
        id:
          type: string
        username:
          type: string
        createdAt:
          type: string
          format: date-time
    RegisterRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 30
        password:
          type: string
          minLength: 6
          format: password
    LogoutResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
    CommentRequest:
      type: object
      required:
        - text
      properties:
        text:
          type: string
    Comment:
      type: object
      required:
        - id
        - text
      properties:
        id:
          type: string
        text:
          type: string

security:
  - bearerAuth: []

paths:
  /sessions:
    post:
      tags:
        - Authentication
      security: []  # No authentication required for login
      summary: Create a session to get JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              username: "newUser"
              password: "securePassword"
      responses:
        '200':
          description: Successfully logged in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum: [Internal Server Error]
                  message:
                    type: string
                    description: Detailed error message about what went wrong on the server
    delete:
      tags:
        - Authentication
      security:
        - bearerAuth: []
      summary: End the current session and revoke the token
      responses:
        200:
          description: Successfully logged out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoutResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /users:
    get:
      tags:
        - Users
      security:
        - bearerAuth: []
      summary: Retrieve all users
      responses:
        200:
          description: A list of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    post:
      tags:
        - Users
      security: []  # No authentication required for creating a user
      summary: Create a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            example:
              username: "newUser"
              password: "securePassword"
      responses:
        201:
          description: User created successfully
          headers:
            Location:
              schema:
                type: string
              description: URL of the created user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: Invalid username or password format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        409:
          description: Username already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    delete:
      tags:
        - Users
      security:
        - bearerAuth: []
      summary: Delete current user's account
      responses:
        204:
          description: User deleted successfully
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /boards:
    get:
      tags:
        - Boards
      security:
        - bearerAuth: []  # Require authentication for GET
      summary: Get all boards
      responses:
        200:
          description: A list of boards
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Board'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    post:
      tags:
        - Boards
      security:
        - bearerAuth: []
      summary: Create a new board
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
            example:
              name: "New Board"
      responses:
        201:
          description: Board created
          headers:
            Location:
              schema:
                type: string
              description: URL of the created board
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        400:
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /boards/{boardId}:
    get:
      tags:
        - Boards
      security:
        - bearerAuth: []
      summary: Get a specific board
      parameters:
        - in: path
          name: boardId
          required: true
          schema:
            type: string
      responses:
        200:
          description: Board retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - Not authorized to view this board
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Board not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Board not found."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    put:
      tags:
        - Boards
      security:
        - bearerAuth: []
      summary: Update a board
      parameters:
        - in: path
          name: boardId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                background:
                  type: string
                isTemplate:
                  type: boolean
                isFavorite:
                  type: boolean
                isArchived:
                  type: boolean
            example:
              name: "Updated Board Name"
              background: "#FFFFFF"
              isTemplate: false
              isFavorite: false
              isArchived: false
      responses:
        200:
          description: Board updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        400:
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - Not authorized to update this board
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Board not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    delete:
      tags:
        - Boards
      security:
        - bearerAuth: []
      summary: Delete a board
      parameters:
        - in: path
          name: boardId
          required: true
          schema:
            type: string
      responses:
        204:
          description: Board deleted successfully
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - Not authorized to delete this board
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Board not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /boards/{boardId}/lists:
    get:
      tags:
        - Lists
      security:
        - bearerAuth: []  # Require authentication for GET
      summary: Get all lists for a board
      parameters:
        - in: path
          name: boardId
          required: true
          schema:
            type: string
      responses:
        200:
          description: Lists retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/List'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - Not authorized to view this board's lists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    post:
      tags:
        - Lists
      security:
        - bearerAuth: []
      summary: Create a new list
      parameters:
        - in: path
          name: boardId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 100
      responses:
        201:
          description: List created successfully
          headers:
            Location:
              schema:
                type: string
              description: URL of the created list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - Not authorized to create lists in this board
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Board not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /lists/{listId}:
    get:
      tags:
        - Lists
      security:
        - bearerAuth: []
      summary: Get a specific list
      parameters:
        - in: path
          name: listId
          required: true
          schema:
            type: string
      responses:
        200:
          description: List retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: List not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    put:
      tags:
        - Lists
      security:
        - bearerAuth: []
      summary: Update a list
      parameters:
        - in: path
          name: listId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 100
                position:
                  type: integer
                  minimum: 0
      responses:
        200:
          description: List updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - Not authorized to update this list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: List not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    delete:
      tags:
        - Lists
      security:
        - bearerAuth: []
      summary: Delete a list
      parameters:
        - in: path
          name: listId
          required: true
          schema:
            type: string
      responses:
        204:
          description: List deleted successfully
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - Not authorized to delete this list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: List not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /lists/{listId}/cards:
    get:
      tags:
        - Cards
      security:
        - bearerAuth: []  # Require authentication for GET
      summary: Get all cards in a list
      parameters:
        - in: path
          name: listId
          required: true
          schema:
            type: string
      responses:
        200:
          description: Cards retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Card'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - Not authorized to view cards in this list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    post:
      tags:
        - Cards
      security:
        - bearerAuth: []
      summary: Create a new card
      parameters:
        - in: path
          name: listId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 100
                description:
                  type: string
                dueDate:
                  type: string
                  format: date-time
                labels:
                  type: array
                  items:
                    type: string
      responses:
        201:
          description: Card created successfully
          headers:
            Location:
              schema:
                type: string
              description: URL of the created card
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - Not authorized to create cards in this list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: List not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    put:
      tags:
        - Cards
      security:
        - bearerAuth: []
      summary: Update a card
      parameters:
        - in: path
          name: listId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 100
                description:
                  type: string
                dueDate:
                  type: string
                  format: date-time
                labels:
                  type: array
                  items:
                    type: string
                position:
                  type: integer
                  minimum: 0
      responses:
        200:
          description: Card updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - Not authorized to update cards in this list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: List not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    delete:
      tags:
        - Cards
      security:
        - bearerAuth: []
      summary: Delete a card
      parameters:
        - in: path
          name: listId
          required: true
          schema:
            type: string
      responses:
        204:
          description: Card deleted successfully
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - Not authorized to delete cards in this list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: List not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /cards/{cardId}/checklist:
    post:
      tags:
        - Cards
      security:
        - bearerAuth: []
      summary: Add checklist to card
      parameters:
        - in: path
          name: cardId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
            example:
              title: "New Checklist"
      responses:
        201:
          description: Checklist added successfully
          headers:
            Location:
              schema:
                type: string
              description: URL of the created checklist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Checklist added successfully"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /cards/{cardId}/comments:
    post:
      tags:
        - Cards
      security:
        - bearerAuth: []
      summary: Add comment to card
      parameters:
        - in: path
          name: cardId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
      responses:
        201:
          description: Comment added successfully
          headers:
            Location:
              schema:
                type: string
              description: URL of the created comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        400:
          description: Invalid comment text
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Card not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /comments:
    get:
      tags:
        - Comments
      security:
        - bearerAuth: []
      summary: Retrieve all comments
      parameters:
        - in: query
          name: authorId
          required: false
          schema:
            type: string
          description: Filter comments by author ID
      responses:
        200:
          description: A list of comments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    post:
      tags:
        - Comments
      security:
        - bearerAuth: []
      summary: Add a new comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentRequest'
      responses:
        201:
          description: Comment created successfully
          headers:
            Location:
              schema:
                type: string
              description: URL of the created comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        400:
          description: Invalid comment format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /comments/{commentId}:
    get:
      tags:
        - Comments
      security:
        - bearerAuth: []
      summary: Get a specific comment
      parameters:
        - in: path
          name: commentId
          required: true
          schema:
            type: string
      responses:
        200:
          description: Comment retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - Not authorized to view this comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Comment or card not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    patch:
      tags:
        - Comments
      security:
        - bearerAuth: []
      summary: Update a comment
      parameters:
        - in: path
          name: commentId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
            example:
              text: "Updated comment text"
      responses:
        200:
          description: Comment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Comment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    delete:
      tags:
        - Comments
      security:
        - bearerAuth: []
      summary: Remove a comment
      parameters:
        - in: path
          name: commentId
          required: true
          schema:
            type: string
      responses:
        204:
          description: Comment deleted successfully
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Comment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /users/{userId}:
    put:
      tags:
        - Users
      security:
        - bearerAuth: []
      summary: Change user password
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currentPassword
                - newPassword
              properties:
                currentPassword:
                  type: string
                  format: password
                newPassword:
                  type: string
                  format: password
                  minLength: 6
            example:
              currentPassword: "securePassword"
              newPassword: "evenmoresecurePassword"
      responses:
        200:
          description: Password changed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Password updated successfully"
        400:
          description: Invalid password format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Current password is incorrect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - Not authorized to update this user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /boards/{boardId}/lists/{listId}:
    get:
      tags:
        - Lists
      security:
        - bearerAuth: []
      summary: Get a specific list in a board
      parameters:
        - in: path
          name: boardId
          required: true
          schema:
            type: string
        - in: path
          name: listId
          required: true
          schema:
            type: string
      responses:
        200:
          description: List retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - Not authorized to view this board
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Board or list not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /lists/{listId}/cards/{cardId}:
    get:
      tags:
        - Cards
      security:
        - bearerAuth: []
      summary: Get a specific card in a list
      parameters:
        - in: path
          name: listId
          required: true
          schema:
            type: string
        - in: path
          name: cardId
          required: true
          schema:
            type: string
      responses:
        200:
          description: Card retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - Not authorized to view this list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: List or card not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'